<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Package source mapping -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="NUnit.*" />
      <package pattern="Reqnroll.*" />
      <package pattern="coverlet.*" />
      <package pattern="Azure.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Mono.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
      <package pattern="dotnet-*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
